.appLayout {
    text-align: center;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

.darkLogo {
    width: 40px;
    height: 40px;
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里妈妈东方大楷 Regular";font-weight: 400;src: url("//at.alicdn.com/wf/webfont/pBjEpy8X6DJ9/o8152B60ZsJj.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/pBjEpy8X6DJ9/cbugwZB3eVc1.woff") format("woff");
    font-display: swap;
  }
.hrLine {
    opacity: 0.5;
    margin-top: 5vh;
    width: 60vw;
}
.upperTitle {
    font-size: 20px;
    font-family: "阿里妈妈东方大楷 Regular";
    color: white;
    margin-left: 8px;

}

.innerTitle {
    font-size: 40px;
    font-family: "阿里妈妈东方大楷 Regular";
    color: #2D5F49;
    margin: 0;
}

.upperSub {
    color: white;
}


.upperTitleBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bgImg {
    position: absolute;
    width: 50vw;
    opacity: 0.5;
    left: 50%;   
    top:-50vh;          
    transform: translateX(-50%);
    z-index: 0;
}

.underPart {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subDiv1 {
    border: solid;
    border-color: #2d5f4998;
    width: 100%;
    margin: 40px 20px;
    height: 40vh;
    border-radius: 24px;
    z-index: 10;
    background-color: white;
    padding: 12px;
    align-items: flex-start;
}

.subTitle {
    font-size: 25px;
    font-family: "阿里妈妈东方大楷 Regular";
    color: #2D5F49;
    text-align: left;
    margin: 10px;
}

.singleItem{ 
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.subLink:hover {
    color: #2ea06f;
    cursor: pointer;
}